<!DOCTYPE html>
<html>
<head>
	<title>Calendrier Toulon</title>
	<link rel="stylesheet" style="text/css" href="resources/calendrier.css">
</head>
<body>
	<h1>Calendrier Toulon Indivision</h1>
	<p></p>

{{range $month := .Months}}
    <div class="month">
    	{{$month.Name}}	
    	<div class="days">
    		{{range $val := Iterate $month.StartDay }}
  				<span class="day">  </span>
			{{end }}

        	{{range $val := Iterate $month.Days }}
	            {{if IsOccupied $val $month.Index }}
	  				<span class="day occupied" style="border-color: {{DayColor $val $month.Index}};">{{ $val }} </span>
	  			{{else}}
	  				<span class="day">{{ $val }} </span>
	  			{{end}}
			{{end }}
		</div>
    </div>
{{end}}

{{range $event := .Events }}
	<p>  {{$event}}</p>
{{end }}

</body>
</html>
