.days {
    border-style: solid;
    border-width: 3px;
    border-color: #00d4ce;
    color:black;
    width: 210px;
}

.day {
	width: 25px;
	color: black;
	display: inline-block;
	text-align: center;
}

.today{
	border-width: 3px;
	margin: -3px;
	border-style: dashed;
	border-color: black;
	font-weight: bold;
}

body {
	display:inline-block;
}

.occupied {
	color: #808080;
	border-width: 2px;
	margin: -2px;
	border-style: solid;
}

.jardin{
	background-color: #00e60035;
}

.legend{
	display:inline-block;
	vertical-align: top;
}

.eventsList{
	border-width: 2px;
	border-style: solid;
	padding: 5px;
	margin: 5px;
	display:inline-block;
	vertical-align: top;
}

.jardin.eventsList{
	float: right;
}


.month{
	color:#00d4ce;
	display: inline-block;
	height: 160px;
	vertical-align: top;
}

.header > h1{display:inline-block;
	vertical-align: top;}

.header > .button{
	display:inline-block;
	vertical-align: top;
	float: right;
	border-width: 2px;
	border-style: solid;
	border-radius: 8px;
	padding: 5px;
	margin: 20px;
}


